<html>
    <head>
        <title>Application de crypto</title>
        {% load static %}
        <script type="text/javascript" src="{% static "javascripts/home.js" %}"/>
    </head>
    <body>
        <form action="post">
            <table>
                <tr>
                    <td>
                        Login :
                    </td>
                    <td>
                        <input type="text" id="login"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mot de passe :
                    </td>
                    <td>
                        <input type="password" id="password"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" onclick="NavigateToSignIn()" id="inscription" value="Inscription">Inscription</button>
                    </td>
                    <td>
                        <button type="submit" id="connexion" value="Connexion">Connexion</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>