<!DOCTYPE html>
    <head>
        <title>Application de crypto</title>
        {% load static %}
        <script type="text/javascript" src="{% static 'javascript/inscription.js' %}"></script>
    </head>
    <body>
        <form action="" method="post">
            <table>
                <tr>
                    <td>
                        Nom :
                    </td>
                    <td>
                        <input type="text" id="name"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Login :
                    </td>
                    <td>
                        <input type="text" id="login"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mot de passe :
                    </td>
                    <td>
                        <input type="password" id="password"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="submit" id="inscription" value="Inscription">Inscription</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>