<!DOCTYPE html>
<html>
<head>
    <title>crypto - Connexion</title>
</head>
<body>
<% include partials/Header.ejs %>
<form action="" method="post">
    <table>
        <tr>
            <td>
                Email :
            </td>
            <td>
                <input type="text" id="email" name="email"/>
            </td>
        </tr>
        <tr>
            <td>
                Mot de passe :
            </td>
            <td>
                <input type="password" id="password" name="password"/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" id="connexion" value="Connexion">Connexion</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>