<!DOCTYPE html>
<html>
    <head>
        <title>crypto - inscription</title>
    </head>
    <body>
    <% include partials/Header.ejs %>
        <form action="" method="post">
            <table>
                <tr>
                    <td>
                        Email :
                    </td>
                    <td>
                        <input type="text" id="email" name="email"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mot de passe :
                    </td>
                    <td>
                        <input type="password" id="password" name="password"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Clé public :
                    </td>
                    <td>
                        <textarea cols="80" rows="20" id="publickey" name="publickey"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="submit" id="inscription" value="Inscription">Inscription</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>