<!DOCTYPE html>
<html>
    <head>
        <title>crypto - inscription</title>
    </head>
    <body>
        An email has been sent with a confirmation link :
        <br>
        <form action="" method="post">
            <table>
                <tr>
                    <td>
                        email :
                    </td>
                    <td>
                        <input type="text" id="email" name="email"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Key :
                    </td>
                    <td>
                        <input type="text" id="key" name="key"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="submit" id="postinscription" value="Inscription">Inscription</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>